<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Das Vier Gewinnt Spiel!</title>
    <style>
        table {
            border-collapse: collapse;
            width: 20%;
            margin: 20px;
        }

        td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Vier Gewinnt</h1>
<table>
    <tr th:each="row : ${#numbers.sequence(1, 6)}">
        <td th:each="column : ${#numbers.sequence(1, 7)}">-</td>
    </tr>
</table>

  <form method="post" action="/turn">
    <label for="column">In welche Spalte möchtest du deinen Stein setzen?</label> <br><br>
      <input type="number" id="column" required> <br><br>
      <button type="submit">Zug machen</button>
  </form>
</body>
</html>